
@{
    ViewBag.Title = "Dashboard";
}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <h2>Dashboard</h2>
                @if (Session["loginUserFullName"] != null)
                {
                    <text>
                            welcome @Session["loginUserFullName"].ToString()
                    </text>
                }

                </div>
</div>
</div>
</div>
